@namespace WmsApp.Pages.Settings
@page "/settings/tenants"
@using WmsApp.Models
@using System.Text.Json

@inject NotificationService _notice

<GridContent Id="#main">

    <Alert Message=@_PageKey Type="success" ShowIcon="true" Style="margin-bottom:8px" />

    <RadioGroup OnChange=@OnChangeHandle Size=@("large") @bind-Value=@bindEntType ButtonStyle=@RadioButtonStyle.Outline>
        <Radio RadioButton Value="@("all")">全部</Radio>
         <Radio RadioButton Value="@("supplier")">供应商</Radio>
         <Radio RadioButton Value="@("customer")">客户</Radio>
     </RadioGroup>

     <Space Style="margin-bottom:8px"
            Size=@size>
         <SpaceItem>
             <Button Color=@Color.Green4 Icon="@IconType.Outline.Reload"
                     Type="@ButtonType.Primary"
                     OnClick="RefreshTableData">
                 刷新
             </Button>
         </SpaceItem>
     </Space>

     <Table TItem="Tenant" DataSource=@tenantList 
            PageIndex=@_pageIndex PageSize=@_pageSize>
         <ChildContent>
             <PropertyColumn Property="c=>c.TenantID" />

             <PropertyColumn Property="c=>c" Title="标识">
                 @{
                    if (context.IsSupplier)
                    {
                        <Tag Color="#021a30">供应商</Tag>
                    }
                    else
                    {
                        if (context.IsCustomer)
                        {
                            <Tag Color="#021a30">客户</Tag>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    }
                }
            </PropertyColumn>
            <PropertyColumn Property="c=>c.TenantCode" />
            <PropertyColumn Property="c=>c.TenantName" />
            <PropertyColumn Property="c=>c.Address" />
            <PropertyColumn Property="c=>c.UpdatedAt" />
        </ChildContent>
        <PaginationTemplate>
            <Pagination Class="ant-table-pagination ant-table-pagination-right"
                        DefaultPageSize=5 Total="context.Total" PageSize="context.PageSize" Current="context.PageIndex"
                        OnChange="context.HandlePageChange" ShowSizeChanger />
         </PaginationTemplate>
     </Table>

 </GridContent>

 @code {

    // string _bindEntType;
    // [Parameter]
    // public string BindEntType
    // {
    //     get => _bindEntType ?? "all";
    //     set {
    //         _bindEntType = value;
    //         RefreshTableDataWithEntType(_bindEntType);
    //     }
    // }
}