@namespace WmsApp.Pages.StockIn
@page "/stockin/requestform"
@using WmsApp.Models
@using System.Text.Json

@inject NotificationService _notice

<GridContent Id="#main">
    @* 申请入库 *@
    <WmsApp.FormTitle CurrentFormTitle=@requestFormTitle />

    @* 申请入库表单 *@
    <Form TModel=@StockAddModel Model=@stockModel>
        
        <Row Align="top" Gutter=24>
            <Col Xs=24 Sm=12 Md=8 Lg=6 Xl=5>
                <FormItem Label="入库单号">
                    <Input @bind-Value="@context.StockInNo" />
                </FormItem>
            </Col>
            <Col Xs=24 Sm=12 Md=8 Lg=6 Xl=4>
                <FormItem Label="类型">
                        <Select TItem=@Dict TItemValue=@string DataSource=@_stockInTypes
                            DefaultActiveFirstOption=true EnableSearch=true
                        LabelName="DictValue" ValueName="DictValue"
                        @bind-Value="@context.StockInType">
                        </Select>
                </FormItem>
            </Col>
            <Col Xs=24 Sm=12 Md=8 Lg=6 Xl=5>
                <FormItem Label="仓库">
                    <Select TItem=@Warehouse TItemValue=@string DataSource=@_warehouses
                            DefaultActiveFirstOption=true EnableSearch=true
                            LabelName="WarehouseName" ValueName="WarehouseName"
                            @bind-Value="@context.StockInWarehouse"
                            Placeholder="选择一个仓库" />
                </FormItem>
            </Col>
            <Col Xs=24 Sm=12 Md=8 Lg=6 Xl=5>
                <FormItem Label="供应商">
                    <Select TItem=@Tenant TItemValue=@string DataSource=@_stockInSupplier
                            DefaultActiveFirstOption=true EnableSearch=true
                            LabelName="TenantName" ValueName="TenantName"
                            @bind-Value="@context.Supplier">
                    </Select>
                </FormItem>
            </Col>
            <Col Xs=24 Sm=12 Md=8 Lg=6 Xl=5>
                <FormItem Label="合同号">
                    <Input @bind-Value="@context.ContractNo" />
                </FormItem>
            </Col>
        </Row>
    </Form>
    <WmsApp.FormTitle CurrentFormTitle="网关入库明细" />

    @* "small"; *@
    <Space Style="margin-bottom:12px"
           Size=@("large")>
        <SpaceItem>
            <Button Size=@buttonSize Icon="@IconType.Outline.Import"
                Type="@ButtonType.Primary">导入</Button>
            <Button Size=@buttonSize Icon="@IconType.Outline.CloudDownload"
                Type="@ButtonType.Default">下载模板</Button>
        </SpaceItem>
    </Space>

</GridContent>

@code {
    private const string buttonSize = "small";

    public class StockAddModel
    {
        /// <summary>
        /// 入库单号
        /// </summary>
        [Required]
        public string StockInNo { get; set; }
        /// <summary>
        /// 入库类型
        /// </summary>
        [Required, Description("入库类型")]
        public string StockInType { get; set; }
        [Required, Description("入库仓库")]
        public string StockInWarehouse { get; set; }
        [Required, Description("供应商")]
        public string Supplier { get; set; }
        [Required, Description("合同号")]
        public string ContractNo { get; set; }
        [Required]
        public bool RememberMe { get; set; } = true;
    }

}
