@namespace MyAntDesignApp2.Pages.Settings
@page "/settings/attrs"

@using MyAntDesignApp2.Models
@using System.ComponentModel.DataAnnotations

@inject NotificationService _notice

<GridContent Id="#main">

    <Alert Message=@_attrPageKey Type="success"
           ShowIcon="true"
           Style="margin-bottom:12px" />

    <Space Style="margin-bottom:12px"
           Size=@("middle")>
        <SpaceItem>
            <Button Color=@Color.Green8 Icon="@IconType.Fill.PlusCircle"
                    Type="@ButtonType.Primary">
                新增
            </Button>

            <Button Color=@Color.Geekblue7 Icon="@IconType.Outline.Reload"
                    Type="@ButtonType.Primary"
                    OnClick="Refresh">
                刷新
            </Button>
        </SpaceItem>
    </Space>

    <Table TItem="Attr" DataSource="@attrList" HidePagination>
        <Column Title="属性ID" @bind-Field="@context.AttrID" />
        <Column Title="属性名称" @bind-Field="@context.AttrName" />

        <PropertyColumn Property="c=>c.Val">

            @if (context.Val?.Length > 0)
            {
                foreach (AttrValue tag in context.Val)
                {
                    PresetColor c1 = (PresetColor)Random.Shared.Next(13);
                    var color = c1.ToString();
                    // color = "#3b5999";
                    <Tag Color="@color">@tag.AttrValueName</Tag>
                }
            }
            else
            {
                <Tag Color="red-inverse">@("无")</Tag>
            }
        </PropertyColumn>


        <PropertyColumn Property="c=>c.CreatedAt" Sortable />
         <PropertyColumn Property="c=>c.UpdatedAt" Sortable></PropertyColumn>

         <ActionColumn Title="操作">
             <Space>
                 <SpaceItem>
                     <Button OnClick="()=>Delete(context.AttrID)">编辑</Button>
                 </SpaceItem>
                 <SpaceItem>
                     <Button Danger Icon="@IconType.Fill.Delete"
                             Type="@ButtonType.Primary"
                             OnClick="()=>Delete(context.AttrID)" />
                 </SpaceItem>
             </Space>
         </ActionColumn>

     </Table>
 </GridContent>

 <Modal Title=@modalTitle Keyboard=false MaskClosable=false Closable=false
        @bind-Visible="@_visible">

     <Form Model="@model"
           LabelColSpan="8" WrapperColSpan="14">
         <FormItem Label="规格名">
             <Input @bind-Value="@context.AttrName"></Input>
         </FormItem>

     </Form>
     <a>shujuneirong </a>
 </Modal>

 @code {
    string modalTitle = "添加规格"; // 编辑规格
    string size = "middle";
    bool _visible = true;

    private Model model = new Model();

    public class Model
    {
        [Required]
        public string AttrName { get; set; }
        [Required]
        public string Username { get; set; }
        [Required]
        public string Password { get; set; }
        public bool RememberMe { get; set; } = true;
    }

    private void Delete(long id)
    {
        attrList = attrList.Where(x => x.AttrID != id).ToArray();

        // 删除按钮

        // https://antblazor.com/zh-CN/components/tag

        //   forecasts = forecasts.Where(x => x.Id != id).ToArray();
        //   _total = forecasts.Length;
    }

}